html {
    height: 95%;
}

body {
    height: 95%;
    background-color:darksalmon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 50px;
}

* {
    /*border: 2px solid red;*/
    font-family: "Protest Strike", sans-serif;
    margin: 0;
}

#main-title {
    flex: 0;
    font-family: "Honk", sans-serif;
    font-size: 100px;
}

#buttons-container {
    flex: auto;
    display: flex;
    max-height: 200px;
}

.game-btn {
    flex: 1;
    margin: 20px;
    font-size: 50px;
    background-color: lightgray;
    border: 10px solid;
}

#round-choices {
    flex: 0.3;
    min-height: 20px;
    font-size: x-large;
}

#round-results {
    flex: 0.5;
    min-height: 20px;
    font-size: 60px;
}

#score-bar {
    flex: 0.5;
    min-height: 50px;
    font-size: 30px;
}

#reset-btn {
    flex: auto;
    width: 200px;
    max-height: 50px;
    align-self: center;
    font-size: x-large;
    border: 5px solid;
}